.wrapper {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px auto 0;
}

nav {
    text-align: center;
}

nav a {
    color: whitesmoke;
    width: 18.6%;
    display: inline-block;
    margin-left: 1%;
    font-size: 25px;
    text-decoration: none;
}

nav a:first-child {
    margin-left: 0;
}

.index {
    background-color: #ea5080;
}

.news {
    background-color: #53bfe2;
}

.products {
    background-color: #f8c54d;
}

.contacts {
    background-color: #00c08b;
}


address a {
    text-decoration: none;
}



footer {
    margin-top: 20%;
    background-color: #ea5080;
}

footer ul li {
    padding: 40px 0 40px 0;
    width: 24%;
    text-align: center;
    display: inline-block;
    list-style-type: none;
}

footer ul li a {
    color: whitesmoke;
    text-decoration: none;
}

footer ul li a:hover {
    color: black;
    cursor: pointer;
}

.zoom {
    transition: transform 0.5s;
}

.zoom:hover {
    transform: scale(1.5);
}